/* main 
color: #333;*/ 
*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
}

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    color: #1976d2;
    font-weight: 600;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    min-height: 600px;
    display: flex;
    margin: 50px auto;
    max-width: 100%;
    flex-direction: column;
    flex: auto;
    height: 100%;

  }
  .login:hover{
    background-color: white;
    border: 1px solid #125699;
    color: #125699;
  }
  .login{
    margin-right: 30px ;
    border-radius: 15px;
    padding: 8px 15px 8px 15px;
    background-color: #1976d2;
    color: white; 
  }
   

 .content-sidebar-process{
    display: flex;
    width: 100%;
    height: 100%;
 }

  /* Estilos del menú lateral */

  .sidebar {
    position: relative;
    width: 230px;
    background-color: white;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    color: black;
    bottom: 0;
    left: 0;
    top: 0;
    float: left;
  }
  

  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    font-size: 13px;
  }
  
  .sidebar ul li a {
    color: black;
    text-decoration: none;
  }
  .sidebar ul li{
    margin: 3px;
  }

  .sidebar ul li:hover {
    background-color: #1976d2;
    color: white;
    font-weight: 600; 
  }

  .sidebar ul li:nth-child(1){
    background-color: #1976d2;
    color: white;
    font-weight: 600; 
  }

  /*Estilo para el contenido del proceso*/
  .content-process{
    position: relative;
    width: 100%;
  }



  /* Estilos del contenido principal */
  
  .process_content {
    flex: 1;
  }
  .process_subcontent{
    display: flex;
    height: 90px;
    background-color:  rgba(0, 0, 0, 0.02);
    align-items: center;
    width: 100%;
    padding-right: 20px;
    padding-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .process_title{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .title{
    display: flex;
    align-items: center;
  }
  .process_title h1{
    margin: 0px 20px 0px 20px;
    font-size: 25px;
    font-weight: 600;
  }

  .button:hover{
    background-color: white;
    border: 1px solid #125699;
    color: #125699;
  }


  /*todo el contenido*/
  .content_all{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
  }
 

/*Titulo y el filtro*/

.content_section{
  background-color: white;
  min-height: 778px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}
.content_section_title{
  font-size: 18px;
  padding: 10px 0px 10px 0px;
}
.filter{
  padding: 10px 0px 10px 0px;
}

#yearFilter {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* Ajusta el ancho según sea necesario */
}

#yearFilter option {
  padding: 8px;
}

/*Tabla*/


.content_process_table{
  padding-top: 10px;
}

.table {
  width: 97%;
  display: flex;
  flex-direction: column;
  border-right:1px solid #E7E9F1;
  border-left: 5px solid #0073EA;
  border-radius: 4px;
  overflow-x: auto;
}

.table td:nth-child(6){
  text-align: right;
  min-width: 120px;
  width: 100px;
  max-width: 150px;
  padding: 5px 20px 5px 0px;
}
.table td:nth-child(1){
  min-width: 250px;
  width: 300px;
  max-width: 350px;

}

.table td:nth-child(2){
  min-width: 120px;
  width: 170px;
  max-width: 180px;

}
.table td:nth-child(3){
  min-width: 200px;
  width: 200px;
  max-width: 180px;

}
.table td:nth-child(4){
  min-width: 200px;
  width: 200px;
  max-width: 180px;

}

.table th,
.table td {
  border-bottom: 1px solid #E7E9F1; /* Línea debajo de cada fila */
  padding: 5px 0px 5px 20px;
  text-align: left;
}

.table th {
  border-top: 1px solid #E7E9F1; 
}
.header {
  border-top: 1px solid #E7E9F1;
  
}
.header th {
  padding: 15px 0px 15px 20px;
  font-weight: 500;
}

/*celdas*/


.button_image{
  background: none;
  border: none;
  padding: 8px 0px 8px 10px;
}

button {
  cursor: pointer;
  margin-right: 10px ;
  border-radius: 15px;
  padding: 8px 15px 8px 15px;
  background-color: #1976d2;
  color: white; 
  border: none;
  background-color: #1976d2;
}

/* Estilos del modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

/* Estilos para el formulario */
.form-group {
  position: relative;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 5px;
}

label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.2s ease all;
  color: #999;
  
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: -15px;
  font-size: 12px;
  color: #1976d2;
}

/* Estilos para el título */
.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333; /* Cambia el color del título si es necesario */
  margin-bottom: 20px;
}

/**/
.span-expansion-panel{
  font-size: 17px;
  font-weight: 600;
  color: #1A73E8;
}
.mat-expansion-indicator{
  margin-right: 7px;

}
.mat-content {
  display: flex;
  align-items: center;
}
.mat-expansion-panel-body{
  padding: 15px !important;
}
.mat-expansion-panel { 
  overflow: hidden;
  box-shadow: none !important; /* Elimina la sombra */
  max-width: 950px; /* Ajusta el ancho máximo según tu preferencia */
}

.mat-expansion-panel-header {
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  border-bottom:2px solid #0073EA;
}

.mat-expansion-panel-header:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}


/* Estilo para la caja de verificación */
.check-box {
  margin-left: 0px;
}
.mat-expansion-panel-header{
padding: 0px !important;
}

/**/

/* Estilos para los títulos de sección */
.section_title {
  font-size: 14px;
  color: #333; /* Color del texto */
  font-weight: normal;
}

/* Estilos para el título principal */
.main_title {
  font-size: 1.6em;
  color: #3C4043; /* Color azul */
  margin-bottom: 10px; /* Espacio más grande bajo el título */
  font-weight: 600;
}

/* Estilos para el subtítulo */
.sub_title {
  font-size: 15px;
  color: #666; /* Color del texto más claro */
  margin-top: 5px; /* Espacio sobre el subtítulo */
  font-weight: 500;
  margin-bottom: 15px;
}
.icon_header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
.icon_header img{

  margin-right: 15px;
}






.custom-form {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.form-inline {
  display: flex;
  align-items: center;
 /* Ajusta el espacio entre el label y el input */
}

#numeroFilas{
  max-width: 70px;
  margin-left: 10px;
  margin-right: 50px;
  max-height: 30px;
}

.detailProcess{
  width: 100%;
}